[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
psutil = "*"
gputil = "*"
daemonize = "*"
setuptools = "*"
wheel = "*"
twine = "*"
autopep8 = "*"
click = "*"

[requires]
python_version = "3.7"
